{% load thumbnail %}
{% load entry_tags %}
{% load markup %}
{% load humanize %}
{% load filters %}

<li data-id="{{ entry.id }}" class="{% if entry.hajlajt %}ui-state-active{% endif %} entry ui-widget ui-widget-content">
    
    <h4 class="ui-widget-header entry-head">
        <a class="link-user" href="{% url read_profile entry.created_by.id %}">{{ entry.created_by }}</a> - {{ entry.date_created|naturalday  }} {{ entry.date_created|time:"TIME_FORMAT"  }}
        <div class="button-wrapper">
            {% if request.user != entry.created_by or app_name == "forum" %}
            {% if entry.unreplied or entry.hajlajt %}
            <form class="delete-notification-form" action="{% url delete_notification %}" method="post" >   {% csrf_token %}
                <input type="hidden" value="1" id="t{{ entry.id }}" name="type" >
                <input type="hidden" value="{{ entry.id }}" id="n{{ entry.id }}" name="notification" >
                <input class="button-mark" value="Obesvarat" type="submit" id="note-delete-{{ entry.id }}" />
            </form>
            {% endif %}
            <a href="#" data-reply-to="{{ entry.created_by }}" class="js-reply">Svara</a>
            {% endif %}
        </div>
    </h4>

    <ul class="username-hover-menu ui-helper-hidden ui-widget ui-widget-content">
        <li><a href="{% url read_profile entry.created_by.id %}">Profil</a></li>
        <li><a href="{% url guestbook entry.created_by.id %}">Gästbok</a></li>
    </ul>   
    
    {% if entry.created_by.get_profile.photo %}
    <div class="entry-profile clearfix">
        {% thumbnail entry.created_by.get_profile.photo "75x75" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}   
    </div>
    {% endif %}
    
    <div class="entry-content clearfix">
        {{ entry.text|my_oembed:"320x240"|urlize|textile  }}
        {{ entry.body|my_oembed:"320x240"|urlize|textile  }}
        
        {% if form.text %}
        <form class="ui-helper-hidden" method="post" action="{% url guestbook entry.created_by.id %}">
        {% csrf_token %}
        {% if entry.unreplied %}
        <input type="hidden" name="unreplied" value="{{ entry.id }}">
        {% endif %}
        {{ form.text }}
        </form>
        {% endif %}
    </div>
</li>