{% extends "base.html" %}
{% block secondary_navigation %}
<h2>Chatmeny</h2>
<ul>
    <li>...</li>
    <li>...</li>
</ul>
{% endblock secondary_navigation %}

{% block content %}
{% if form %}
<form id="chat_form" action="{% url chat %}" method="post">
    {% csrf_token %}

    {{ form.text }}
    <br />
    <input type="submit" value="Skicka" />

</form>
{% endif %}
<hr />
<ul id="chatlist" class="flat-list entrylist" data-role="listview" data-inset="true">
{% for entry in posts %}
{% include "_entry.html" %}
{% endfor %}
</ul>
{% endblock content %}