{% extends "base.html" %}
{% load entry_tags %}

{% block content %}

{% if form %}
<form id="chat_form" action="{% url chat_post %}" method="post">
    {% csrf_token %}

    {{ form.text }}
    <br />
    <input type="submit" value="Skicka" /><input type="checkbox" id="autoupdate" /><label for="autoupdate">Automatik</label>

</form>

<br />
{% endif %}

<ul id="chatlist" class="flat-list entrylist">
{% for entry in posts %}
    <li data-id="{{ entry.id }}" class="entry ui-widget ui-widget-content">    
        {% render_entry entry request %}
    </li>
{% endfor %}
</ul>

{% endblock content %}