{% load mptt_tags %}
{% load markup %}
{% load humanize %}
{% load thumbnail %}
{% load entry_tags %}
{% load filters %}

<form id="comment-article-form" method="POST" action="{% url comment_article article.id %}">
    {% csrf_token %}
    {% for field in ArticleBodyForm %}
    {{ field }}
    {% endfor %}
    <input type="hidden" name="parent_id" value="">
    
    <div class="buttonset">
        <input type="submit" value="Kommentera">
        <input type="button" data-preview="comment" value="Förhandsgranska" />
    </div>

</form>

<ul class="flat-list entrylist">
    {% recursetree comments %}
    <li id="comment-{{ node.id }}" class="entry ui-widget ui-widget-content">

        {% render_entry node request %}
        
        {# recursion! children of a given comment #}
        
        {% if not node.is_leaf_node %}
            <ul class="flat-list child-ul entrylist">
            
            {{ children }}
    
            <li class="accordion">
                <h4 class="ui-widget-header entry-head">
                    <a href="#">Fortsätt på tråden</a>
                </h4> 
                              
                <div class="clearfix">
                    <form method="POST" action="{% url comment_article article.id %}">
                        {% csrf_token %}
                        <textarea name="comment"></textarea>
                        <input type="hidden" name="parent_id" value="{{ node.id}}">
                        <div class="buttonset">
                            <input type="submit" value="Svara">
                            <input type="button" data-preview="comment" value="Förhandsgranska" />
                        </div>
                    </form>
                </div>
            </li>
            
            </ul>
        {% endif %}
        
    </li>
    {% endrecursetree %}
</ul>

