{% extends "base.html" %}
{% load entry_tags %}
{% load thumbnail %}
{% load humanize %}

{% block app_navigation %}
<ul id="app_navigation" >
    <li><h4 class="ui-widget-header entry-head" >Artikelmeny</h4></li>
    <li><a href="{% url read_article %}">Alla artiklar</a></li>
    <li><a href="{% url create_article %}">Skriv ny</a></li>
    <li><h4 class="ui-widget-header entry-head" >Huvudkategorier</h4></li>
    {% for tag in categories %}
    <li><a href="{% url search_article tag %}">{{ tag|title }}</a></li>
    {% endfor %}
</ul>
{% endblock app_navigation %}

{% block content %}   

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Artiklar</a></li>
        {% if notes %}<li><a href="#tabs-2">Notifieringar ({{ notes|length }})</a></li>{% endif %}
    </ul>
    
    <div id="tabs-1">         
        <table id="table_articles"  class="articles_table">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Skapad</th>
                    <th>Kategorier</th>
                    <th>Kommentarer</th>
                    <th>ID (sortering)</th>
                </tr>
            </thead>
            <tbody>
                    <td>Läser in artiklar...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>


    {% if notes %}
    <div id="tabs-2">
        {% for notification in notes %}
        {% if forloop.first %}
        <table id="notification_table" class="articles_table">
            <thead>
                <tr>
                    <th>Artikel</th>
                    <th>Status</th>
                    <th>Tid</th>
                    <th>Från</th>
                    <th>Ta bort</th>
                    <th>ID (Sortering)</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr class="ui-widget-content">
                    <td><a href="{{ notification.instance_url }}">{{ notification.message }}</a></td>
                    <td>{{ notification.get_status }}</td>
                    <td>{{ notification.date_created|naturalday  }} {{ notification.date_created|time:"TIME_FORMAT"  }}</td>
                    <td><a href="{{ notification.sender.get_profile.get_absolute_url }}">{{ notification.sender }}</a></td>
                    <td>
                        <form action="{% url delete_notification %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ notification.id }}" id="id-{{ notification.id }}" name="notification_id" >
                        <input class="button-mark" value="Ta bort" type="submit" id="input-delete-{{ notification.id }}" />
                        </form>
                    </td>
                    <td>{{ notification.id }}</td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}

        {% empty %}
        <h2>Inga notifieringar</h2>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}