{% extends "profile.html" %}
{% load entry_tags %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
{% for article in articles %}
{% if forloop.first %}
<table id="table_articles">
	<thead>
		<tr>
			<th>Titel</th>
			<th>Skapad av</th>
            <th>Kategorier</th>
            <th>Skapad</th>
            <th>Sortering</th>
		</tr>
	</thead>
	<tbody>
{% endif%}
		<tr class="ui-widget-content">
			<td><a href="{% url read_user_article user.id article.id %}">{{ article.title }}</a></td>
			<td><a href="{{ article.created_by.get_profile.get_absolute_url }}">{{ article.created_by }}</a></td>
			<td>{% for tag in article.tags.all %}<span class="ui-tag"><a href="{% url search_article tag %}">{{ tag|title }}</a></span>{% endfor %}</td>
            <td>{{ article.date_created|naturalday  }} {{ article.date_created|time:"TIME_FORMAT"  }}</td>
            <td>{{ article.id }}</td>
		</tr>
{% if forloop.last %}
	</tbody>
</table>
{% endif %}
{% endfor %}
{% endblock content %}