{% extends "profile.html" %}
{% load entry_tags %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
<table id="table_articles"   class="articles_table ui-widget ui-widget-content">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Skapad</th>
            <th>Kategorier</th>
            <th>Kommentarer</th>
            <th>ID (sortering)</th>
        </tr>
    </thead>
    <tbody>
            <td>Läser in artiklar...</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
    </tbody>
</table>
{% endblock content %}