/* jquery-ui tabs */
.ui-tabs { padding:0;}
.ui-tabs .ui-tabs-panel { padding:0;}

/* Create thread */
#categories .ui-selecting { background: #eee; }
#categories .ui-selected{ background: #888; color: #fff; }
#categories { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#categories .ui-selectee { cursor:pointer; padding: .2em 0.4em; height: 18px; }
    
#form-create-thread {

}

#form-create-thread  input {
    margin: 10px 0;
    padding: 1%;
    font-size:130%;
    border: 1px solid #666;
    outline:none;
    color: #444;
    width: 98%;
    
    -webkit-box-shadow: inset 0px 0px 15px #888; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
       -moz-box-shadow: inset 0px 0px 15px #888; /* FF3.5 - 3.6 */
            box-shadow: inset 0px 0px 15px #888; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          

    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px;      
     -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;    
}

#form-create-thread  input[type=submit] {
    width:100%
}

#form-create-thread  textarea {
    margin: 10px 0;
    padding: 1%;
    font-size:130%;
    border: 1px solid #666;
    outline:none;
    color: #444;
    width: 98%;
    
    -webkit-box-shadow: inset 0px 0px 15px #888; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
       -moz-box-shadow: inset 0px 0px 15px #888; /* FF3.5 - 3.6 */
            box-shadow: inset 0px 0px 15px #888; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          

    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px;      
     -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

}

/* List threads, data tables styles */
div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
	padding: 6px;
}


table.tread_table a {
    color:#DDD;
    font-weight:bold;
    text-decoration:none;
}

table.tread_table {
	clear: both;
    width: 100%;
}

table.tread_table td,
table.tread_table th {
	padding: 5px;
}

div.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }

/* comment threads */
form#comment-forum-form input {
    margin-bottom: 10px;
}

form#comment-forum-form textarea   {
    margin-bottom: 10px;
    padding: 1%;
    font-size:130%;
    border: 1px solid #666;
    outline:none;
    color: #444;
    width: 98%;
    height: 100px;
    
    -webkit-box-shadow: inset 0px 0px 15px #888; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
       -moz-box-shadow: inset 0px 0px 15px #888; /* FF3.5 - 3.6 */
            box-shadow: inset 0px 0px 15px #888; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          

    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px;      
     -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
  
}

/* thread view */
ul.forumtree {
    margin-left: 0;
    margin-top: 0;
}

ul.forumbranch {
    margin-left: 20px;
    margin-top: 10px;
}

ul.forumtree li.entry {
    margin-bottom:0;
}

ul.forumtree li.entry.ui-accordion  {
    margin-bottom:1em;
}

li.accordion  h4 {
    padding:0;
}

li.accordion  .ui-accordion-content {
    padding:0;
    overflow:hidden;
}

li.accordion .ui-accordion-content textarea{
    width:100%;
    height:200px;
    border:0;
}


/* old thread view */
.thead_wrapper {
    margin-top: 5px;
}

.forum_post span.ui-tag {
    font-size:100%;
}

.subthread {
    list-style-type: none;
    padding-left:0;
    margin-left:10px;
    margin-top: -5px;
}

.boxshadow .subthread {
    box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}

.forum_post {
    margin:0;
    margin: -1px;
    position:relative;
}

.forum_post .ui-buttonset {
    font-size: 70%;
}

.full_width_reply {
    background-color: transparent;
    border-top: 1px dotted #666;
    padding-top:10px;
}

.inactive_reply {
    height: 25px;
}
.inactive_reply textarea {
    height: 25px;
}

.full_width_reply textarea {
    width: 98%;
    border: 0px solid black;
    padding: 1%;
    outline: none;
    color: #fff;
    background-color: transparent;
    height: 25px;
}

.full_width_reply p {
    text-align: right;
    padding: 10px;
    margin:0;
}

/* Dialogs */
.ui-dialog .entry-content p {
    width:100%;
}
.ui-dialog .entry-content textarea   {
    margin: 10px 0;
    padding: 1%;
    font-size:130%;
    border: 1px solid #666;
    outline:none;
    color: #444;
    width: 98%;
    
    -webkit-box-shadow: inset 0px 0px 15px #888; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
       -moz-box-shadow: inset 0px 0px 15px #888; /* FF3.5 - 3.6 */
            box-shadow: inset 0px 0px 15px #888; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          

    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px;      
     -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
  
}