{% extends "base.html" %}

{% block content %}
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <table id="user_list" class="tread_table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Användarnamn</th>
                <th>Senast inloggad</th>
                <th>Registrerad</th>
                <th>Kön</th>
                <th>Plats:</th>
                <th>Ålder:</th>
            </tr>
        </thead>
        <tbody>
                <td>Läser in användare...</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tbody>
    </table>
</div>
{% endblock content %}