{% extends "settings.html" %}

{% block content %}
<div class="ui-widget">
    <h2 class="ui-widget-header ui-helper-reset">Användarnamn</h2>
	{% if time_username_change_message %}
	<div class="ui-widget-content">
		<p class="ui-state-error">{{ time_username_change_message }}</p>
	</div>
	{% else %}
	
    <form class="ui-widget-content" id="account-form-settings" action="" method="post">
    	
    	<p>OBS! Du kan bara byta användarnamn per två månader.</p>

        {% csrf_token %}
        {{ username_change_form.as_p }}
        
        <div class="ui-widget-toolbar">
            <input type="submit" name="username_change_form" value="Ändra">
        </div>

    </form> 
    {% endif %}
</div>

<br/>

<div class="ui-widget">
	<h2 class="ui-widget-header ui-helper-reset">Lösenord</h2>
	<form action="" method="post" id="account-form-settings" class="ui-widget-content" >
	    {% csrf_token %}
	    {{ password_change_form.as_p }}
	    <div class="ui-widget-toolbar">
	    	<input type="submit" name="password_change_form" value="Ändra">
	    </div>
	</form>
</div>

<br/>

<div class="ui-widget">
	<h2 class="ui-widget-header ui-helper-reset">Epostadress</h2>
	<form action="" method="post" id="account-form-settings" class="ui-widget-content" >
	    {% csrf_token %}
	    {{ email_change_form.as_p }}
	    <div class="ui-widget-toolbar">
	    	<input type="submit" name="email_change_form" value="Ändra">
	    </div>
	</form>
</div>

{% endblock content %}