{% extends "startpage.html" %}
{% block password_reset_confirm_title %}<li><a href="#tabs-0">LÅ<span>&nbsp;</span></a></li>{% endblock password_reset_confirm_title %}

{% block password_reset_confirm_tab %}
<div id="tabs-0">
	<form class="ui-helper-clearfix" id="id_loginform" action="" method="post">
		<strong>Lösenordsåterställning</strong>
	    {% csrf_token %}
	    <ul>
	        {{ form.as_ul }}                
	        <li>
	            <input type="submit" value="Skicka" />
	        </li>
	    </ul>
	</form>
</div>
{% endblock password_reset_confirm_tab %}