{% extends "startpage.html" %}
{% load bootstrap_toolkit %}

{% block main-navbar-nav %}
<li><a href="{% url login %}">Logga in</a></li>
<li><a href="{% url register %}">Registrera</a></li>
<li class="active"><a href="{% url reset_password %}">Glömt lösenord</a></li>
<li><a href="{% url about %}">Om oss</a></li>
{% endblock main-navbar-nav %}

{% block content %}
<div class="container">
	<h1>Återställning av lösenord</h1>
	<p>Glömt ditt lösenord? Fyll i din e-postadress nedan så skickar vi ett e-postmeddelande med instruktioner för hur du ställer in ett nytt.</p>
	<form id="id_loginform" action="{% url reset_password %}?next={{ nextpage }}" method="post">
	    {% csrf_token %}
	    {{ form|as_bootstrap }}
	    <div class="actions">
	        <button type="submit" class="btn primary">Återställ</button>
	    </div>
	</form>

</div> <!-- /container -->
{% endblock content %}