{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}
{% load filters %}

{% block app_navigation %}
<ul id="app_navigation" class="flat-list entrylist">
    <li class="ui-widget">
        {% thumbnail user.get_profile.photo "300x300" crop="center" as im %}
        <img class="profile-picture" src="{{ im.url }}" width="100%">
        {% empty %}
        <p>Ingen bild</p>
        {% endthumbnail %}   
    </li>
    
    <li class="profile-details">
        <h3>{{ user }}</h3>
    </li>
    
    <li class="profile-details">Namn: {{ user.get_profile.name }}</li>
    <li class="profile-details">Bor: {{ user.get_profile.location }}</li>
    <li class="profile-details">Kön: {{ user.get_profile.gender }}</li>

    <li>&nbsp;</li>
    
    <li><a href="{{ user.get_profile.get_absolute_url }}">Profil</a></li>
    <li><a href="{% url guestbook user.id %}">Gästbok</a></li>
    <li><a href="{% url read_user_articles  user_id=user.id tags='dagbok' %}">Dagbok</a></li>
    <li><a href="{% url read_user_articles  user_id=user.id tags='logg' %}">Logg</a></li>
    
    <li>&nbsp;</li>
    {% if user == request.user %}
    <li><a href="{% url read_notifications %}">Notifieringar</a></li>
    <li>&nbsp;</li>
    {% endif %}
    
</ul>

{% endblock app_navigation %}

{% block content %}

<ul class="flat-list entrylist">
    <li class="ui-widget ui-widget-content">
        
        <h4 class="ui-widget-header entry-head">
            Presentation
            {% if request.user == user %}
            <div class="button-wrapper">
                <a href="{% url ajax_user_description_form request.user.id %}" class="js-quick-edit" rel="profile-description">Ändra</a>
            </div>
            {% endif %}
        </h4>
        
        <div id="profile-description">
        {% if  profile.description %}
            {{ profile.description|urlize|textile|default:"Tom presentation =(" }}
            {% else %}
            Tom presentation =(
        {% endif %}
        </div>
    </li>
</ul>

{% endblock content %}