{% extends "settings.html" %}

{% block content %}
    <h2>Profil</h2>
    <form id="user-form-settings" class="form-settings" action="{% url update_profile %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" name="profile-form" value="Spara" />
    </form>    
    
    <h2>Bevakningar</h2>
    <form id="user-form-settings" class="form-settings" action="{% url update_profile %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ SubscriptionsForm }}      
        <input type="submit" name="profile-subscriptions-form" value="Spara" />
    </form>
{% endblock content %}