{% extends 'desktop_base.html' %}

{% block navigation %}
<ul>
    <li><a href="{{  request.user.get_profile.get_absolute_url }}">{{ request.user }}</a></li>
    <li><a href="{% url list_forum %}">Forumet <span id="fo-indicator">{% if request.indicators.fo %}{{ request.indicators.fo }}{% endif %}</span></a></li>
    <li><a href="{% url chat %}">Chat</a></li>
    <li class="ui-corner-all"><a href="{% url guestbook request.user.id %}">Gästbok <span id="gb-indicator">{% if request.indicators.gb %}{{ request.indicators.gb }}{% endif %}</span></a></li>
    <li><a href="{% url read_article %}">Artiklar</a></li>
    <li><a href="{% url camchat %}">Camchat</a></li>
    {% comment %}
    <li><a data-ajax="false" href="{% url set_base_template 'touch' %}">Touch</a></li>
    <li><a data-ajax="false" href="{% url set_base_template 'desktop' %}">Desktop</a></li>
    {% endcomment %}
</ul>
{% endblock navigation %}

{% block messages %}
{% if messages %}
<ul class="messages jGrowlmessages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}

{% block content %}
<p>This is an empty base template</p>
{% endblock content %}