{% extends base_template %}

{% block navigation %}
<ul>
    <li><a href="{% url read_forum %}">Forum</a></li>
    <li><a href="{% url chat %}">Chat</a></li>
    {% comment %}
    <li><a data-ajax="false" href="{% url set_base_template 'touch' %}">Touch</a></li>
    <li><a data-ajax="false" href="{% url set_base_template 'desktop' %}">Desktop</a></li>
    {% endcomment %}
</ul>
{% endblock navigation %}

{% block messages %}
{% if messages %}
<ul class="messages jGrowlmessages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}

{% block content %}
<p>This is an empty base template</p>
{% endblock content %}

{% block footer %}

{% endblock footer %}