<div class="btn-group dropup pull-right">
	<a  data-loading-text="Vänta..." class="btn btn-mini dropdown-toggle {% if tag.name in subscriptions %}btn-primary{% endif %} btn-tag-{{ tag }}" data-toggle="dropdown" href="#">
		<i class="icon-tag"></i>
		{{ tag|title }}
	</a>
	<ul class="dropdown-menu">
		<li><a href="{{ tag_search_prefix }}{{ tag }}/">Gå till <strong>{{ tag|title }}</strong></a></li>
		<li>
			<a data-tag="{{ tag }}" class="link-subscribe" href="{% url subscribe_tag %}">
				<span>{% if tag.name in subscriptions %}Avbevaka{% else %}Bevaka{% endif %}</span> <strong>{{ tag|title }}</strong>
			</a>
		</li>
	</ul>
</div>