{# trying another approach with subscribable tags #}
<span class="ui-tag-link ui-tag">
    <a class="ui-tag-link-toggle" rel="{{ tag }}" data-icon="{% if tag.name in subscriptions %}ui-icon-star{% else %}ui-icon-tag{% endif %}" href="#" >{{ tag|title }}</a>
    
    <a class="ui-tag-link-button" href="{{ tag_search_prefix }}{{ tag }}/" >{{ tag|title }}</a>
    
    <form  class="ui-helper-hidden ui-tag-link-form"  action="{% url subscribe_tag %}" method="post">
        {% csrf_token %}
        {{ subscribe_tag_form }}
    </form>
</span>

 {{ tag.tag_relname }}