{% load filters %}
{% if form %}
<form class="form-edit-entry clearfix" id="update-entry-form-{{ instance.id }}" action="{{ action }}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <ul>
        {{ form.as_ul }}
    {% if instance %}
	<li class="buttonset ui-buttonset">
	    <input 	type="button" 
	    		data-preview="{% if form.fields.body %}body{% endif%} {% if form.fields.comment %}comment{% endif %}" 
	    		value="Förhandsgranska" />
	    <input 	type="button" 
	    		data-field="{% if form.fields.body %}body{% endif%} {% if form.fields.comment %}comment{% endif %}" 
	    		data-maximize="true" 
	    		data-form="update-entry-form-{{ instance.id }}" 
	    		value="Storskärm" 
	    		type="button" />
	</li>
	{% endif %}
</form>
{% else %}
{{ comment|user_filter }}
{{ body|user_filter }}
{% endif %}