{% extends "base.html" %}
{% block settings-link %}{% endblock settings-link %}

{% block app_navigation %}
<ul id="app_navigation" >
    <li><h4  class="ui-widget-header ui-helper-reset header" >Inställningar</h4></li>
    <li><a href="{% url read_settings 'accounts' %}">Konto</a></li>
    <li><a href="{% url read_settings 'profiles' %}">Profil</a></li>
</ul>
{% endblock app_navigation %}

{% block content %}  
    <div class="ui-widget ui-widget-content">
        <h4 class="ui-widget-header ui-helper-reset header">Inga inställningar hittades</h4>
        <p class="ui-text-panel">Finns inga inställningar för {{ appname }}</p>
    </div>
    
{% endblock content %}