{# DELETE THIS TEMPLATE #}









{% load entry_tags %}

{% if not request.user == profile.user %}
<form action="" method="post">
    {% csrf_token %}

    {{ form.text }}
    <br />
    <div class="buttonset">
        <input type="submit" value="Skicka" />
        <input type="button" data-preview="text" value="Förhandsgranska" />
    </div>
</form>

<hr />
{% endif %}

<ul class="flat-list">
{% for entry in posts %}
    <li data-id="{{ entry.id }}" class="entry ui-widget ui-widget-content">
    {% render_entry entry request %}
    </li>
{% if forloop.last %}
</ul>

<div class="buttonset">
    {% if not start|add:negincrement < 0 %}
    <a href="{% url guestbook user.id start|add:negincrement %}">Föregånde</a>
    {% endif %}
    
    {% if forloop.counter = increment|add:padding %}
    <a href="{% url guestbook user.id start|add:increment %}">Nästa</a>
    {% endif %}
</div>
{% endif %}
{% empty %}
<h2>Tom gästbok =(</h2>
{% endfor %}