{% extends "profile.html" %}
{% load humanize %}

{% block content %}

{% for notification in notifications %}
{% if forloop.first %}
<h2>Notifieringar</h2>
<table id="notification_table">
	<thead>
		<tr>
            <th>Typ</th>
            <th>Beskrivning</th>
            <th>Status</th>
            <th>Tid</th>
            <th>Från</th>
			<th>Länk</th>
			<th>Ta bort</th>
			<th>ID (Sortering)</th>
		</tr>
	</thead>
	<tbody>
{% endif %}
		<tr class="ui-widget-content">
			<td>{{ notification }}</td>
			<td>{{ notification.message }}</td>
			<td>{{ notification.get_status }}</td>
			<td>{{ notification.date_created|naturalday  }} {{ notification.date_created|time:"TIME_FORMAT"  }}</td>
			<td><a href="{{ notification.sender.get_profile.get_absolute_url }}">{{ notification.sender }}</a></td>
			<td><a href="{{ notification.instance_url }}">Gå till {{ notification|lower }}</a></td>
			<td><form action="{% url delete_notification %}" method="post" >{% csrf_token %}<input type="hidden" value="{{ notification.id }}" id="id-{{ notification.id }}" name="notification_id" ><input class="button-mark" value="Ta bort" type="submit" id="input-delete-{{ notification.id }}" /></form></td>
			<td>{{ notification.id }}</td>
		</tr>
{% if forloop.last %}
	</tbody>
</table>
{% endif %}

{% empty %}
<h2>Inga notifieringar</h2>
{% endfor %}

{% endblock content %}