{% extends "profile.html" %}
{% load humanize %}
{% load notification_tags %}

{% block content %}

{% set_notifications_to_unread notifications as xnotifications %}

<form class="ajax-delete-note" id="form_remove_notes" action="{% url delete_notifications %}" method="post" >
    {% csrf_token %}
    <input type="hidden" name="model" value="forumcomment" />
    <fieldset>
        <table id="notification_table" class="tread_table">
            <thead>
                <tr>
                    <th>Typ</th>
                    <th>Titel</th>
                    <th>Status</th>
                    <th>Tid</th>
                    <th>Från</th>
                    <th>Ta bort</th>
                    <th>ID (Sortering)</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in xnotifications %}
                <tr class="ui-widget-content" id="row-notification-{{ notification.id }}">
                    <td>{{ notification.content_object.get_verbose_name }}</td>
                    <td>
                       <a href="{{ notification.content_object.get_absolute_url }}">
                            {{ notification.content_object }}
                        </a>
                        
                    </td>
                    <td>{{ notification.get_status_display }}</td>
                    <td>{{ notification.date_created|naturalday  }} {{ notification.date_created|time:"TIME_FORMAT"  }}</td>
                    <td><a href="{% url read_profile notification.content_object.created_by.id %}">{{ notification.content_object.created_by }}</a></td>
                    <td class="ui-toggle-button">
                        <input type="checkbox" name="notification" value="{{notification.id}}" id="notification-{{notification.id}}" />
                        <label for="notification-{{notification.id}}">Markera</label>
                    </td>
                    <td>{{ notification.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
</form>
{% endblock content %}