{% load mptt_tags %}
{% load markup %}
{% load humanize %}
{% load thumbnail %}
{% load entry_tags %}
{% load filters %}

<form id="comment-forum-form" method="POST" action="{% url comment_forum forum.id %}">
    {% csrf_token %}
    {% for field in ArticleBodyForm %}
    {{ field }}
    {% endfor %}
    <input type="hidden" name="parent_id" value="">
    <div class="buttonset">
        <input type="submit" value="Svara">
        <input type="button" data-preview="comment" value="Förhandsgranska" />
    </div>

</form>

<ul class="flat-list entrylist">
{% recursetree comments %}

<li class="{% if node.id in hilighted %}ui-state-active{% endif %} entry ui-widget ui-widget-content" id="comment-{{ node.id }}">
    
    {% render_entry node request %}
    
    {# recursion! children of a given comment #}
    {% if not node.is_leaf_node %}
        <ul class="flat-list child-ul entrylist forumbranch">
        
        {{ children }}
        
        
        <li class="accordion">
            <h4 class="ui-widget-header entry-head">
                <a href="#">Delta i konversationen, och svara alla i den här tråden.</a>
            </h4> 
                          
            <div class="clearfix">
                <form method="POST" action="{% url comment_forum forum.id %}">
                    {% csrf_token %}
                    <textarea name="comment"></textarea>
                    <input type="hidden" name="parent_id" value="{{ node.id}}">
                            
                    <div class="buttonset">
                        <input type="submit" value="Svara">
                        <input type="button" data-preview="comment" value="Förhandsgranska" />
                    </div>
                </form>
            </div>
        </li>
        
        </ul>
    {% endif %}
    
</li>
{% endrecursetree %}
</ul>

