{% extends "forum.html" %}

{% block content %}
    <h1>Skapa ny tråd</h2>
    <form id="form-create-thread" action="{% url create_thread %}" method="post">
        {% csrf_token %}
        <p>
            {% for tag in categories %}
            <span class="ui-tag">
                <input data-tag="{{ tag }}" {% if tag|lower  == initial_tags|lower  %}checked="checked" {% endif %}type="checkbox" id="tag-{{ tag }}" /><label for="tag-{{ tag }}">{{ tag|title }}</label>
            </span>
            {% endfor %}
        </p>
        
        {{ form.as_p }}    
        <input type="submit" value="Skapa" />
    </form>
{% endblock content %}