{% extends "forum.html" %}

{% block content %}
    <h1>Skapa ny tråd</h1>
    <form id="form-create-thread" action="{% url create_forum %}" method="post">
        {% csrf_token %}
        
        <h3>Du kan välja upp till 5 kategorier, minst en en huvudtagg</h3>
        <div class="tag-list-wrapper">
        {% for field in tagform %}
        {{ field }}
        {% endfor %}
        </div>
        
        <p>
        {{ form.tags }}
        </p>
        
        <p>
        {{ form.title }}
        </p>
        
        <p>
        {{ form.body }}
        </p>
        <input type="submit" value="Skapa" />
    </form>
{% endblock content %}