{% extends "base.html" %}
{% load entry_tags %}

{% block app_navigation %}
<ul id="app_navigation" >
        <li><h4 class="ui-widget-header entry-head">Forumsmeny</h4></li>
        <li><a href="{% url list_forum %}">Forum</a></li>
        {% if tags %}
        <li><a href="{% url create_forum tags %}">Skapa tråd</a></li>
        {% else %}
        <li><a href="{% url create_forum %}">Skapa tråd</a></li>
        {% endif %}
        <li><a href="{% url read_forum %}">Gamla forumet</a></li>
        
        <li><h4 class="ui-widget-header entry-head">Huvudkategorier</h4></li>
        {% for tag in categories %}
        <li><a href="{% url list_forum tag %}">{{ tag|title }}</a></li>
        {% endfor %}
</ul>
{% endblock app_navigation %}