{% extends "forum.html" %}
{% load humanize %}

{% block content %}
<div id="tabs">
    <ul>
        <li><a class="js-sort-latest-threads" href="#tabs-1">Senast skapad</a></li>
        <li><a class="js-sort-latest-replies" href="#tabs-1">Senaste inlägg</a></li>
    </ul>

    <div id="tabs-1">
         <table id="table_threads" class="tread_table">
            <thead>
                <tr>
                    <th>Trådtitel</th>
                    <th>Kategorier</th>
                    <th>Skapad</th>
                    <th>Skapad sortering (ID)</th>
                    <th>Antal svar</th>
                    <th>Senaste inlägg</th>
                    <th>Senaste svar sortering (epoch)</th>
                </tr>
            </thead>
            <tbody>
                    <td>Läser in trådar...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}