{% extends "forum.html" %}
{% load humanize %}

{% block content %}
<div id="tabs">
    <ul>
        <li><a class="js-sort-latest-threads" href="#tabs-1">Senaste trådar</a></li>
        <li><a class="js-sort-latest-replies" href="#tabs-1">Senaste Svar</a></li>
        {% if notes %}<li><a href="#tabs-2">Notifieringar <span id="tab-counter-notes">({{ notes|length }})</span></a></li>{% endif %}
    </ul>

    <div id="tabs-1">
         <table id="table_threads" class="tread_table">
            <thead>
                <tr>
                    <th>Trådtitel</th>
                    <th>Kategorier</th>
                    <th>Skapad</th>
                    <th>Skapad sortering (ID)</th>
                    <th>Antal svar</th>
                    <th>Senaste svar</th>
                    <th>Senaste svar sortering (ID)</th>
                </tr>
            </thead>
            <tbody>
                    <td>Läser in trådar...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

    {% if notes %}
    <div id="tabs-2">
        {% for notification in notes %}
        {% if forloop.first %}
        <table id="notification_table" class="tread_table">
            <thead>
                <tr>
                    <th>Tråd</th>
                    <th>Status</th>
                    <th>Tid</th>
                    <th>Från</th>
                    <th>Ta bort</th>
                    <th>ID (Sortering)</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr class="ui-widget-content">
                    <td><a href="{{ notification.instance_url }}">{{ notification.message }}</a></td>
                    <td>{{ notification.get_status }}</td>
                    <td>{{ notification.date_created|naturalday  }} {{ notification.date_created|time:"TIME_FORMAT"  }}</td>
                    <td><a href="{{ notification.sender.get_profile.get_absolute_url }}">{{ notification.sender }}</a></td>
                    <td><form class="ajax-delete-note" action="{% url delete_notification %}" method="post" >{% csrf_token %}<input type="hidden" value="{{ notification.id }}" id="id-{{ notification.id }}" name="notification_id" ><input class="button-mark" value="Ta bort" type="submit" id="input-delete-{{ notification.id }}" /></form></td>
                    <td>{{ notification.id }}</td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}

        {% empty %}
        <h2>Inga notifieringar</h2>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% comment %}
###########################################################
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Senaste trådar</a></li>
		<li><a href="#tabs-2">Senaste Svar</a></li>
		{% if notes %}<li><a href="#tabs-3">Notifieringar ({{ notes|length }})</a></li>{% endif %}
	</ul>
    
	<div id="tabs-1">
		{% for forum in forums %}
        {% if forloop.first %}
        <table id="table_latest_threads" class="tread_table">
            <thead>
                <tr>
                    <th>Trådtitel</th>
                    <th>Kategorier</th>
                    <th>Skapad</th>
                    <th>Skapad sortering (ID)</th>
                    <th>Antal svar</th>
                    <th>Senaste svar</th>
                    <th>Senaste svar sortering (ID)</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr class="ui-widget-content">
                    <td><a href="{% url read_forum forum.id %}">{{ forum.title }}</a></td>
                    <td>{% for tag in forum.tags.all %}<span class="ui-tag"><a href="{% url list_forum tag|urlencode %}">{{ tag|title }}</a></span>{% endfor %}</td>
                    <td>{{ forum.date_created|naturalday  }} {{ forum.date_created|time:"TIME_FORMAT"  }} av <a href="{{ forum.created_by.get_profile.get_absolute_url }}">{{ forum.created_by }}</a></td>
                    <td>{{ forum.id }}</td>
                    <td>{{ forum.get_posts_index }}</td>
                    <td>{% if forum.last_comment %}<a title="Gå till sensate svar" href="{% url read_forum forum.id %}#comment-{{ forum.last_comment.id }}"> {{ forum.last_comment.added|naturalday  }} {{ forum.last_comment.added|time:"TIME_FORMAT"  }} av {{ forum.last_comment.created_by }}</a>{% else %} Inga svar {% endif %}</td>
                    <td>{{ forum.last_comment.id }}</td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
        {% empty %}
        <h1>Tomt forum</h1>
        {% endfor %}
	</div>
    
	<div id="tabs-2">
		{% for forum in forums %}
        {% if forloop.first %}
        <table id="table_latest_replies"  class="tread_table">
            <thead>
                <tr>
                    <th>Trådtitel</th>
                    <th>Kategorier</th>
                    <th>Skapad</th>
                    <th>Skapad sortering (ID)</th>
                    <th>Antal svar</th>
                    <th>Senaste svar</th>
                    <th>Senaste svar sortering (ID)</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr class="ui-widget-content">
                    <td><a href="{% url read_forum forum.id %}">{{ forum.title }}</a></td>
                    <td>{% for tag in forum.tags.all %}<span class="ui-tag"><a href="{% url list_forum tag|urlencode %}">{{ tag|title }}</a></span>{% endfor %}</td>
                    <td>{{ forum.date_created|naturalday  }} {{ forum.date_created|time:"TIME_FORMAT"  }} av <a href="{{ forum.created_by.get_profile.get_absolute_url }}">{{ forum.created_by }}</a></td>
                    <td>{{ forum.id }}</td>
                    <td>{{ forum.get_posts_index }}</td>
                    <td>{% if forum.last_comment %}<a title="Gå till sensate svar" href="{% url read_forum forum.id %}#comment-{{ forum.last_comment.id }}"> {{ forum.last_comment.added|naturalday  }} {{ forum.last_comment.added|time:"TIME_FORMAT"  }} av {{ forum.last_comment.created_by }}</a>{% else %} Inga svar {% endif %}</td>
                    <td>{{ forum.last_comment.id }}</td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
        {% empty %}
        <h1>Tomt forum</h1>
        {% endfor %}
	</div>
    
    {% if notes %}
	<div id="tabs-3">
        {% for notification in notes %}
        {% if forloop.first %}
		<table id="notification_table" class="tread_table">
            <thead>
                <tr>
                    <th>Beskrivning</th>
                    <th>Status</th>
                    <th>Tid</th>
                    <th>Från</th>
                    <th>Ta bort</th>
                    <th>ID (Sortering)</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr class="ui-widget-content">
                    <td><a href="{{ notification.instance_url }}">{{ notification.message }}</a></td>
                    <td>{{ notification.get_status }}</td>
                    <td>{{ notification.date_created|naturalday  }} {{ notification.date_created|time:"TIME_FORMAT"  }}</td>
                    <td><a href="{{ notification.sender.get_profile.get_absolute_url }}">{{ notification.sender }}</a></td>
                    <td><form action="{% url delete_notification %}" method="post" >{% csrf_token %}<input type="hidden" value="{{ notification.id }}" id="id-{{ notification.id }}" name="notification_id" ><input class="button-mark" value="Ta bort" type="submit" id="input-delete-{{ notification.id }}" /></form></td>
                    <td>{{ notification.id }}</td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}

        {% empty %}
        <h2>Inga notifieringar</h2>
        {% endfor %}
	</div>
    {% endif %}
</div>

#########################################################
{% endcomment %}


{% endblock content %}