{% extends "forum.html" %}
{% load markup %}    
{% load humanize %}
{% load thumbnail %}

{% block content %}

<ul class="flat-list entrylist">    
    <li class="entry ui-widget ui-widget-content acticle_post">
        <h4 class="ui-widget-header entry-head">{{ forum.title }} av <a class="link-user" href="{% url read_profile forum.created_by.id %}">{{ forum.created_by }}</a> den {{ forum.date_created|naturalday  }} {{ forum.date_created|time:"TIME_FORMAT"  }} {% with tags=forum.tags.all %}{% for tag in tags %}<span class="ui-tag"><a href="{% url list_forum tag %}" >{{ tag|title }}</a></span>{% endfor %}{% endwith %} </h4>


        <ul class="username-hover-menu ui-helper-hidden ui-widget ui-widget-content">
            <li><a href="{% url read_profile forum.created_by.id %}">Profil</a></li>
            <li><a href="{% url guestbook forum.created_by.id %}">Gästbok</a></li>
        </ul>   
        
        <div class="entry-profile clearfix">
            {% thumbnail forum.created_by.get_profile.photo "75x75" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}   
        </div>

        
        <div class="entry-content clearfix">
            {{ forum.body|urlize|textile  }}
        </div>
    
        {% comment %}
        <h4 class="ui-widget-header entry-head">{{ forum.title }} av <a class="link-user" href="{% url read_profile forum.created_by.id %}">{{ forum.created_by }}</a> den {{ forum.date_created|naturalday  }} {{ forum.date_created|time:"TIME_FORMAT"  }} {% with tags=forum.tags.all %}{% for tag in tags %}<span class="ui-tag"><a href="{% url search_article tag %}" >{{ tag|title }}</a></span>{% endfor %}{% endwith %} </h4>
        <div class="forum-body">
        {{ forum.body|urlize|textile }}
        </div>
        {% endcomment %}
    </li>
</ul>

{% include "_forum_comments.html" %}

{% endblock content %}