{% extends "base.html" %}
{% load entry_tags %}
{% load thumbnail %}
{% load markup %}    
{% load humanize %}
{% load filters %}
{% load pagination_tags %}

{% block content %}
<ul class="flat-list">


<li class="ui-widget ui-widget-content article-entry" id="article-{{article.id}}">
	<h4 class="ui-widget-header ui-helper-reset header  {% if article.notification and article.notification.status < 3 %}ui-state-active{% endif %}"> {{ article }} av {% render_userlink article.created_by %} - {{ article.date_created }} 
	
 		<div class="tag-wrapper">
	    	{% with subscriptions=request.user.profile.subscriptions.all %}
		    {% for tag in article.tags.all %}
		    {% render_tag tag tag_search_prefix subscriptions %}
		    {% endfor %}
			{% endwith %}
		</div>  

		<div class="button-wrapper buttonset">
			{% if article.allow_history and article.date_last_changed %}
				<a href="{% url history_entry app_name "forum" article.id %}" data-article-id="{{ article_id }}" class="js-entry-history">&nbsp;</a>
            {% endif %}

			{% if article.is_editable and article.created_by == request.user %}
        		<a href="{% url update_entry app_name "forum" article.id %}" data-article-id="{{ article.id }}" class="js-entry-edit" rel="content-{{ article.id }}">&nbsp;</a> 
        	{% endif %}
		</div>

	</h4>

	{% if article.created_by.profile.photo %}
	<div class="entry-profile">    
	    {% thumbnail article.created_by.profile.photo "75x75" crop="center" as im %}
	    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	    {% endthumbnail %}
	</div>
	{% endif %}

	<div class="entry-content clearfix">
	    <div id="content-{{ article.id }}" class="content">
	        {{ article.body|user_filter }}
	    </div>
	</div>

	<div class="ui-widget-toolbar footer">
		<div class="buttonpanel">
			<div class="buttonset">
				{% if article.allow_comments %}        
		        <a href="#" data-url="{% url ajax_comments_forum article.id %}" data-container="comments-{{ article.id }}" class="js-show-comments">Visa kommentarer</a>
	       		{% endif %}
	       	</div>
	       	<div class="buttonset">
				<button class="ui-helper-hidden btn-comment-article" data-container="comments-{{article.id}}" data-form="comment-article-{{ article.id }}-form" id="btn-comment-{{ article.id }}">Svara</button>
			</div>
       </div>
	</div>

</li>

<li class="cont-comments ui-widget ui-widget-content " id="comments-{{article.id}}">
{% url comment_forum article_id as post_url %}
{% include "_comments.html" with article_id=article.id app_name="forum" model_name="ForumComment" post_url=post_url %}
</li>


</ul>

{% endblock content %}