<form action="{% url create_forumpost %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        {{ form.body }}
    </div>

    <input class="ui-helper-hidden" type="text" name="thread_id" id="id_thread_id" value="{{ thread.id }}">
    <input class="ui-helper-hidden" type="text" name="parent_id" id="id_parent_id" value="{{ post.id }}">

    <p class="ui-helper-hidden">
        <button class="js-collapse">Göm</button>
        <input type="submit" value="Svara" />
    </p>
</form>