{% extends "forum.html" %}
{% load entry_tags %}

{% block content %}    
    <div class="thead_wrapper">
    {% for post in posts %}
        {% if post.first_in_subthread or forloop.first %}
        <ul class="subthread ui-widget-content">
        {% endif %}
        
            <li class="forum_post ui-widget ui-widget-content">
                {% entry_head post %}
                
                <div class="ui-text-panel">
                {{ post.body|linebreaks|urlizetrunc:40 }}
                </div>
                
                {% if not post.last_in_subthread %}
                {% endif %}
             
            </li><!-- End post -->
        
        {% if post.last_in_subthread or forloop.last %}
            <li class="full_width_reply inactive_reply">
            {% include "reply_form.html" %}
            </li>
        </ul><!-- End subthread -->
        {% else %}
             <li class="full_width_reply inactive_reply ui-helper-hidden">
            {% include "reply_form.html" %}
            </li>
        {% endif %}

    {% endfor %}
    </div>
         
    {% comment %}
    
    <h2>{{ thread.title }} - {{ thread.created_by }}</h2>
    
    {% for post in posts %}
        {% if post.first_in_subthread %}<div class="subthread" style="margin-left: 16px; border: solid 1px red;">{% endif %}
        <div class="forum_post">
            {{ post.body }}
            {% if post.last_in_subthread %}
                <div class="full_width_reply">Svara</div>
                {% include "reply_form.html" %}
            {% else %}
                <div class="small_reply">Svara</div>
                {% include "reply_form.html" %}
            {% endif %}
        </div>
        {% if post.last_in_subthread %}</div>{% endif %}
    {% endfor %}
    
    {% endcomment %}
    
{% endblock content %}