{% extends "forum.html" %}
{% load entry_tags %}
{% load markup %}

{% block content %}    
    <div class="thead_wrapper">
    {% for post in posts %}
        {% if post.first_in_subthread or forloop.first %}
        <ul class="subthread ui-widget-content">
        {% endif %}
            
            {% if forloop.first %}
            <li class="forum_post ui-widget ui-widget-content">
            <h4 class="ui-widget-header entry-head">{{ post.collection.title }} {% for tag in post.collection.tags.all %}<span class="ui-tag"><a href="{% url get_threads_by_tags tag %}">{{ tag|title }}</a></span>{% endfor %}{% comment %}<form action="" class="ui-tag-edit" method="post"><input type="checkbox" id="edit-tag" /><label for="edit-tag">Redigera taggar</label>{% endcomment %}</h4>
            </li>
            {% endif %}
            
            <li class="forum_post ui-widget ui-widget-content">
                {% entry_head post %}
                
                <div class="ui-text-panel">
                {{ post.body|urlize|textile }}
                </div>
                
                {% if not post.last_in_subthread %}
                {% endif %}
             
            </li><!-- End post -->
        
        {% if post.last_in_subthread or forloop.last %}
            <li class="full_width_reply inactive_reply">
            {% include "reply_form.html" %}
            </li>
        </ul><!-- End subthread -->
        {% else %}
             <li class="full_width_reply inactive_reply ui-helper-hidden">
            {% include "reply_form.html" %}
            </li>
        {% endif %}

    {% endfor %}
    </div>
         
    {% comment %}
    
    <h2>{{ thread.title }} - <a href="{{ thread.created_by.get_profile.get_absolute_url }}">{{ thread.created_by }}</a></h2>
    
    {% for post in posts %}
        {% if post.first_in_subthread %}<div class="subthread" style="margin-left: 16px; border: solid 1px red;">{% endif %}
        <div class="forum_post">
            {{ post.body }}
            {% if post.last_in_subthread %}
                <div class="full_width_reply">Svara</div>
                {% include "reply_form.html" %}
            {% else %}
                <div class="small_reply">Svara</div>
                {% include "reply_form.html" %}
            {% endif %}
        </div>
        {% if post.last_in_subthread %}</div>{% endif %}
    {% endfor %}
    
    {% endcomment %}
    
{% endblock content %}