{% extends "base.html" %}
{% load entry_tags %}
{% load markup %}
{% load thumbnail %}
{% load tracking_tags %}

{% block secondary_navigation_wrapper %}
{% endblock secondary_navigation_wrapper %}

{% block content %}
<ul class="flat-list entrylist">
    {% for article in articles %}
    <li class="ui-widget ui-widget-content acticle_post">
        
        {% article_header article %}
        
        <div class="article-body">
            {{ article.body|urlize|textile }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}

{% block widgets-inner %}
<div class="ui-widget ui-widget-content">
<h4 class="ui-widget-header entry-head">Senast inloggade</h4>
{% visitors_on_site as visitors %}
<div class="article-body">
    Inloggade: {{ visitors }} 
</div>
</div>
{% endblock widgets-inner %}